<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let noticia of listNoticias">
    <div class="card">
      <img
        [src]="noticia.urlToImage"
        loading="lazy"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <span class="badge bg-primary mb-1">{{ noticia.source.name }}</span>
        <h5 class="card-title">{{ noticia.title }}</h5>
        <p class="card-text">
          {{ noticia.description }}
        </p>
        <div class="d-grid gap-2">
          <a
            [href]="noticia.url"
            class="btn btn-primary"
            rel="noopener noreferrer"
            target="_blank"
            >Ver Noticia</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
